extends ../top-block

block vars
    - classes += ' mb-60'

block block_content
    h4 Restaurant & bars events
    h1 Discover our events

block append container
    .grid-x
        .small-10.small-offset-1
            .mt-40.user-editable-content.user-editable-content_text-center
                p Throughout the year, Le Jardin and Le Bar present a series of special events in our calendar – there’s something for everyone! We also have a selection of beautiful banqueting rooms and our 7th floor Royal Armleder Suite, which are all perfect for private parties. Alternatively, take advantage of our catering service. As well as kosher service with a mandatory 48h notice .
            .mt-20.tags
                a(href='') All
                a.active(href='') January 2017
                a(href='') February 2017
                a(href='') March 2017
                a(href='') April 2017
                a(href='') May 2017
                a(href='') June 2017
                a(href='') July 2017
                a(href='') August 2017
                a(href='') September 2017
                a(href='') October 2017
                a(href='') November 2017
                a(href='') December 2017