extends ../contact

block append column_left
    p Le Jardin
    p Rue Adhémar-Fabri 8-10,
    p 1201 Geneva, Switzerland

block column_center
    .user-editable-content.user-editable-content_no-p-margins
        h3 Opening hours
        p The restaurant is open from Monday to Friday (lunch and dinner) and Saturday (dinner)
    .user-editable-content.user-editable-content_no-p-margins.mt-10
        p
            b Breakfast:
            |  7.00 am – 10.30 am
        p
            b Lunch:
            |  12.00 am – 2.30 pm
        p
            b Dinner:
            |  7.00 pm – 10.30 pm

block column_right
    h3 Restaurant Le Jardin Contact
    p
        a(href='mailto:info.restaurant@lerichemond.com') info.restaurant@lerichemond.com
    p
        a(href='tel:+410227157100') +41 (0)22 715 7100