section.section.section_intro
    .grid-container
        .grid-x
            .medium-8.medium-offset-2.cell
                .content-pattern
                    .text-center
                        .emblem.emblem_small.emblem_white.emblem_collapsed
                            i.icon-le-jardin
                    .content-pattern__decor
                        img(src=require('../../../images/icons/decor-restaurant.svg') alt)
                    .content-pattern__top
                        .user-editable-content
                            h4 Philosophy
                            h2 Stylish, light and fresh French cuisine featuring the best of local products
                    .line-x
        .user-editable-content.user-editable-content_two-columns.user-editable-content_no-p-margins.user-editable-content_links-are-red
            p At Le Jardin, chef Philippe Bourrel shares a stylish, light and fresh French cuisine featuring the best of local products. Recognized as “Ambassador of The Geneva Region” and listed in the prestigious Gault & Millau guide, Le Jardin is an unmissable address in Geneva.
            p Our sommelier has created an excellent wine list that accents the richness and quality of vineyards near Geneva and around Switzerland. Every weekday for lunch, enjoy the market menu: complimentary valet parking.

