extends ../contact

block vars
    - classes += ' mt-70'

block append column_left
    p Le Spa by Sisley
    p Rue Adhémar-Fabri 8-10,
    p 1201 Geneva, Switzerland

block column_center
    .user-editable-content.user-editable-content_no-p-margins
        h3 Opening hours
        p Treatments are available
        p between 10am and 8pm
        p &nbsp;
        p Fitness & relaxation room
        p from 7am to 10pm
block column_right
    h3 Le Bar Contact
    p
        a(href='mailto:info.spa@lerichemond.com') info.spa@lerichemond.com
    p
        a(href='tel:+410227157261') +41 (0)22 715 7261