extends ../highlights

block title
    h2 Join Switzerland's only urban Sisley Spa

block content
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in lacus scelerisque, tincidunt purus eu, molestie sapien. Fusce ultricies venenatis mattis. Aliquam nisl neque, auctor posuere aliquet in, vulputate id metus. Sed auctor dapibus elit vitae vulputate. Vivamus eget rutrum mi. Donec vel justo auctor, maximus dui eget, commodo purus. Cras velit sapien, congue sed ultrices eget.
    p Curabitur scelerisque suscipit libero non commodo.
    p Proin eu elit ornare, luctus turpis a, commodo arcu. Donec iaculis ligula enim, vel cursus mi tincidunt ac. Pellentesque dui neque, aliquet non feugiat ac, vestibulum quis orci. Maecenas vulputate venenatis hendrerit.
    p Quisque ornare urna aliquam dui iaculis vehicula. Proin pretium maximus nisl quis elementum. Vivamus malesuada lorem in nulla pharetra porttitor.
