section.section.section_intro
    .grid-container
        .grid-x
            .medium-8.medium-offset-2.cell
                .content-pattern
                    .text-center
                        .emblem.emblem_small.emblem_white.emblem_collapsed
                            i.icon-emblem-richemond
                    .content-pattern__decor
                        img(src=require('../../../images/icons/decor-spa.svg') alt)
                    .content-pattern__top
                        .user-editable-content
                            h4 At the only urban Spa by Sisley
                            h2 Relax & Revive
                    .line-x
        .user-editable-content.user-editable-content_two-columns.user-editable-content_no-p-margins.user-editable-content_links-are-red
            p Located in the centre of Geneva, in a luxurious oasis as you indulge in pampering spa treatments from acclaimed French skincare experts Sisley. Their renowned face and body treatments are based on aromacology – the science of relaxing body and mind through the use of fragrance.
            p &nbsp;
            p Sisley’s skincare products are made from the finest plant extracts and essential oils, applied to the skin using a variety of different massage rituals from around the world, to create impressive results and a deep sense of calm.
            p &nbsp;
            p For further relaxation, take time out in our sauna and steam room then settle into one of our reclining chairs, surrounded by soothing chromotherapy lights.
            p &nbsp;
            p Sip a cup of herbal tea as you indulge in some well-deserved downtime in this peaceful environment.
            p &nbsp;
            p When you want a workout visit our fitness studio, equipped with the latest Techno Gym equipment for cardio and fitness-training including a Kinesis machine for a complete body workout. Our personal trainers are also available to tailor-make one-to-one training sessions to suit your individual needs.
            p &nbsp;
            p A truly delightful experience on the banks of the lake within walking distance of the city centre of Geneva.
            p &nbsp;
            p Complimentary valet parking for Le Spa by Sisley guests.