extends ../top-block

block vars
    - classes += ' mb-60'

block block_content
    h4 Conciergerie
    h1 A Bespoke Guide to Geneva — Autumn

block append container
    .mt-45.grid-x
        .medium-6.medium-offset-3.cell
            .user-editable-content.user-editable-content_text-center
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat turpis vestibulum tortor gravida, at mattis tellus sodales.