form.contact-form(action='#')
    .contact-box__message
    .contact-box__fields
        .input-group
            input(type='text')
            label Full name
            span
        .input-group.input-group_validate
            input(type='text')
            label Your email
            span
        .input-group
            input(type='text')
            label Phone number
            span
        .input-group.input-group_message.input-group_validate
            textarea
            label Message
            span
    .input-action
        button.btn(type='submit') Subscribe
            span
