.large-offset-3.large-8.cell
    .slider
        .slider__nav
            .slider__nav-item.slider__nav-item_left.js-slider-left
                span.icon-arrow
            .slider__nav-item.js-slider-right
                span.icon-arrow
        .slider__box.js-slider(data-animation="stagger")
            +slider-item('#', require('@/images/slider/slider-pic-1.jpg'), 'Mclaren', require('@/images/slider/slider-pic-1@2x.jpg'), 'Mclaren 650s Successor', 'CHF 114\'900.-',
            '05.2012', "18'700 km", 'Manuelle')
            +slider-item('#', require('@/images/slider/slider-pic-2.jpg'), 'Mercedes-Benz', require('@/images/slider/slider-pic-2@2x.jpg'), 'Mercedes-Benz S63 AMG', 'CHF 114\'900.-',
            '05.2012', "18'700 km", 'Manuelle')
            +slider-item('#', require('@/images/slider/slider-pic-3.jpg'), 'Panamera', require('@/images/slider/slider-pic-3@2x.jpg'), 'Panamera Turbo Executive', 'CHF 114\'900.-',
            '05.2012', "18'700 km", 'Manuelle')
            +slider-item('#', require('@/images/slider/slider-pic-1.jpg'), 'Mclaren', require('@/images/slider/slider-pic-1@2x.jpg'), 'Mclaren 650s Successor', 'CHF 114\'900.-',
            '05.2012', "18'700 km", 'Manuelle')
            +slider-item('#', require('@/images/slider/slider-pic-2.jpg'), 'Mercedes-Benz', require('@/images/slider/slider-pic-2@2x.jpg'), 'Mercedes-Benz S63 AMG', 'CHF 114\'900.-',
            '05.2012', "18'700 km", 'Manuelle')