form.subscribe-form(action='#')
    .contact-box__message
    .contact-box__fields
        .input-group.input-group_validate
            input(type='text')
            label Your name
            span
        .input-group.input-group_validate
            input(type='text')
            label Your email
            span
    .input-action
        button.btn(type='submit') Subscribe
            span