extends ../top-block

block vars
    - classes += ' mb-60'
    - grid_classes = 'medium-6 medium-offset-3 cell'

block block_content
    h4 Relaxation
    h1 Treatments at Le Spa by Sisley

block append container
    .mt-60.tags
        a(href='') All
        a(href='') Body Care
        a(href='') Face Care
        a(href='') Massages
        a(href='') Experience Collection
        a(href='') The Essentials
        a.active(href='') Sisley Packages