extends ../plate

block vars
    - classes = 'plate mt-120'

block block_content
    .pt-55.pb-40
        .line-y.line-y_stick-topleft
        .flex-container.align-justify.align-middle.mb-25
            .user-editable-content
                h4 Career
        .user-editable-content
            h2 Junior Security & Safety Officer
        .pt-40
            .grid-x.grid-margin-x
                .medium-4.cell
                    .user-editable-content.user-editable-content_no-p-margins
                        p
                            b Posting Date
                        p 14th September 2017
                .medium-4.cell
                    .user-editable-content.user-editable-content_no-p-margins
                        p
                            b Schedule
                        p Full-time
                .medium-4.cell
                    .user-editable-content.user-editable-content_no-p-margins
                        p
                            b Job Category
                        p Loss Prevention & Security
        .mt-60.flex-container.align-right
            a(href='#form').button.button_light Apply Now


