.caption
    .user-editable-content.user-editable-content_no-p-margins.user-editable-content_text-center
        p Jardin Brunswick | 1201 Genève | Suisse
        p
            a(href='mailto:info@lerichemond.com') info@lerichemond.com
            |  |
            a(href='tel:+410227157000')  +41 (0)22 715 7000