- var classes = 'contact mb-100 grid-container'

block vars

section(class= classes)
    .grid-x.grid-margin-x
        .medium-4.cell
            .user-editable-content.user-editable-content_no-p-margins
                block column_left
                    h3 Our Address
        .medium-4.cell
            block column_center
        .medium-4.cell
            .user-editable-content.user-editable-content_no-p-margins
                block column_right

