section.highlights
    .grid-container
        .grid-x
            .large-8.large-offset-2.cell
                .layers
                    .emblem.mt-100.mb-125.o-5
                        i.icon-emblem-richemond
                    .o-95
                        block layer
                            .user-editable-content.user-editable-content_text-center.mb-40
                                block title
                            .line-x
                            .user-editable-content.user-editable-content_two-columns.user-editable-content_ul-disk.o-60.mt-55
                                block content