ul.pagination
    li
        a(href='?page=1') 1
    li.active
        span 2
    li
        a(href='?page=3') 3
    li
        span &hellip;
    li
        a(href='?page=8') 8
    li.next
        a(href='?page=3')