- var classes = 'plate'

block vars

section(class= classes)
    .grid-container
        .grid-x.grid-margin-x
            .medium-10.medium-offset-1.cell
                .plate__white
                    .plate__content
                        block block_content