.social
    a(target='_blank' href='https://www.facebook.com/LeRichemond/').icon-facebook
    a(target='_blank' href='https://plus.google.com/+LeRichemondHotelGeneva').icon-googleplus
    a(target='_blank' href='https://www.instagram.com/le_richemond/').icon-instagram
    a(target='_blank' href='https://www.pinterest.com/DCluxuryhotels/le-richemond-geneva/').icon-pinterest
    a(target='_blank' href='https://www.tripadvisor.com/Hotel_Review-g188057-d196005-Reviews-Le_Richemond_Geneva_Dorchester_Collection-Geneva.html').icon-tripadvisor
    a(target='_blank' href='https://twitter.com/le_richemond').icon-twitter
    a(target='_blank' href='https://www.linkedin.com/company/le-richemond-hotel').icon-linkedin
    a(target='_blank' href='https://www.hosco.com/en/company/le-richemond-dorchester-collection').icon-hosco