extends ../plate

block block_content
    .pt-55.pb-20
        .line-y.line-y_stick-topleft
        .flex-container.align-justify.align-middle.mb-25
            .user-editable-content
                h4 Destination highlights
            .social.o-80
                a(href='').icon-facebook
                a(href='').icon-twitter
                a(href='').icon-googleplus
        .user-editable-content
            h2 Be our guest and fully experience Geneva
