.btn {
  position: relative;
  display: inline-block;
  font: 700 12px/25px $f-oswald;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-right: 130px;
  padding-left: 15px;
  color: $c-light;
  transition: transform $duration-sm;
  span {
    @include pos('topRight', 12px, 0);
    width: 110px;
    height: 1px;
    background-color: $c-brand;
    color: $c-brand;
    transform: scaleX(0.8);
    transition: transform $duration-sm;
    transform-origin: left center;
  }
  &:hover {
    transform: translate(-15px, 0);
    span {
      transform: scaleX(1.1);
    }
  }
  &_left {
    padding-right: 15px;
    padding-left: 110px;
    span {
      right: auto;
      left: 0;
    }
    &:hover {
      transform: translate(15px, 0);
      span:before {
        transform: translate(-50%, 0);
      }
    }
  }
}