
// There are styles for HTML tags without classes, e.g. <a>, <html>
// and also styles for elements that doesn't deserve a separate SCSS file like .g-recaptcha

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include customScroll;
}

.no-scroll {
  &,
  & body {
    overflow: hidden;
  }
}

body {
  @include webkit-smoothscroll;
  ::selection {
    background: $c-brand;
    color: $c-light;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

li:focus {
  outline: none;
}

img {
  display: inline-block;
  border: none;
  outline: none;
  user-select: none;
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  margin-bottom: 0;
}

ol {
  list-style-position: inside;
}

b {
  font-weight: 700;
}

p {
  margin: 0;
}

blockquote {
  margin: 30px 0;
  padding-left: 50px;
  border-left: 1px solid $c-brand;
  font-weight: 600;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
}

// forms
input, textarea, button, select {
  background: transparent;
  box-shadow: none;
  border: none;

  &:focus {
    outline: none;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  vertical-align: top;
}

label {
  margin-bottom: 0;
}

fieldset {
  border: none;
}

.grid-container {
  width: 100%;
  max-width: 1440px;
}

.g-recaptcha {
  pointer-events: none;
  opacity: .01;
}

.disabled {
  pointer-events: none;
}

