section.section.section_intro
    .grid-container
        .grid-x
            .medium-10.medium-offset-1.cell
                .content-pattern
                    .text-center
                        .emblem.emblem_small.emblem_white.emblem_collapsed
                            i.icon-emblem-richemond
                    .content-pattern__decor
                        img(src=require('../../../images/icons/decor-suitcase.svg') alt)
                    .content-pattern__top
                        .user-editable-content
                            h4 The LE RICHEMOND Hotel
                            h2 Why coming to Geneva?
                    .line-x
                    .user-editable-content.user-editable-content_two-columns.user-editable-content_no-p-margins.user-editable-content_links-are-red
                        p Set on the banks of Lake Geneva, by the famous Jet d’Eau, Le Richemond is at the heart of a city known for its style and grace. A jewel in Geneva’s crown, Le Richemond has welcomed its esteemed guests with unrivalled service, opulent decor and magnificent food for over a century.
                        p Ideally situated on the banks of Lake Geneva, our beautiful hotel is the perfect choice for a weekend trip or an extended stay in one of Europe’s most captivating cities.
