extends ../plate

block block_content
    .pt-55.pb-40
        .line-y.line-y_stick-topleft
        .flex-container.align-justify.align-middle.mb-25
            .user-editable-content
                h4 Meetings & Events
            .social.o-80
                a(href='').icon-facebook
                a(href='').icon-twitter
                a(href='').icon-googleplus
        .user-editable-content
            h2 Your wedding at Le Richemond
        .mt-35.flex-container.align-justify.align-middle
            .user-editable-content
            a(href='').button.button_light Make a request
