extends ../layout

block layout_vars
    - is_homepage = true

block content
    include ../sections/home/cover
    include ../sections/home/intro
    include ../sections/home/two-halves-1
    include ../sections/home/two-halves-2
    include ../sections/home/two-halves-3
    include ../sections/home/two-halves-4
    include ../sections/home/two-halves-5
    include ../sections/home/two-halves-6
    include ../sections/home/news