// this should be rendered at every page.
// this is placed here so that user can edit the content from Concrete5.

section.hidden-non-edit-mode
    .grid-container.cookies-placeholder
        // following will be appended as child of body to make animation of cookies message possible
        h4 Cookies
        p This website uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
            a(href='')  Find out more
        button.button Got it!