section.section.section_intro
    .grid-container
        .grid-x
            .medium-6.medium-offset-3.cell
                .content-pattern
                    .text-center
                        .emblem.emblem_small.emblem_white.emblem_collapsed
                            i.icon-emblem-richemond
                    .content-pattern__decor
                        img(src=require('../../../images/icons/decor-events.svg') alt)
                    .content-pattern__top
                        .user-editable-content
                            h4 About our Meetings Rooms
                            h2 Your meetings & banquets at Le Richemond
                    .line-x
        .grid-x.grid-margin-x
            .medium-6.cell
                .user-editable-content.user-editable-content_no-p-margins
                    h3 Experience the timeless charm of Le Richemond
                    p Whether you are looking to host a board meeting, a company training, a private party or a grand awards gala for 500 guests, we promise to make your event memorable.
                    p &nbsp;
                    p Located next to Lake Geneva and in view of the Alps, Le Richemond blends historical elegance with contemporary urban design, and its facilities maintain the highest quality throughout.
                    p &nbsp;
                    p Distinctive guest rooms and remarkable suites allow everyone in your group to have a comfortable and enjoyable stay. A varied selection of meeting and events spaces from historical ballroom to contemporary gallery and 7th floor suite overlooking the Lake with a stunning view on the Jet d’Eau complete the appeal
            .medium-6.cell
                .user-editable-content.user-editable-content_no-p-margins
                    h3 Le Richemond offers
                    ul
                        li Five flexible meeting spaces for your corporate meetings (all technically equipped)
                        li The opportunity to enjoy private dining in Geneva’s city centre.
                        li Some of the most exclusive reception venues in Geneva.
                        li Delegates can look forward to delicious cuisine at Le Jardin, Le Bar or in the private salons.
