.scroller {
  .scrollbar-track-y {
    width: 5px;
  }
  .scrollbar-track {
    background-color: transparentize(darken($c-white, 50%), .66);
  }
  .scrollbar-thumb {
    border-radius: 0;
    background-color: $c-accent;
  }
}

.scroll-to-top {
  transform: translateX(100px);
  transition: .6s $easing;
  &.visible {
    transform: none;
  }
}