.ccm-toolbar-visible {
  .header, .preloader {
    top: 48px;
  }
  .search__close, .gallery__close {
    top: 88px;
  }
}

.ccm-ui {
  &, & * {
    font-size: 16px !important;
    line-height: 1.4em !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    margin: 0;
    color: #666 !important;
  }
  *.fa {
    font-family: "FontAwesome" !important;
    font-size: 14px !important;
    line-height: 1em !important;
  }
}

div.ccm-area-edit-area {
  font-size: 0 !important;
  line-height: 0 !important;
}

.ccm-edit-mode {
  .ccm-page {
    .user-editable-content_two-columns{
      column-count: 1;
    }
    .cover {
      background: #aaa;
    }
    .cover__image {
      align-self: baseline;
      z-index: 0;
      margin-top: 100px;
      display: block;

      &>div {

      }
    }
    .cover__overlay {
      .grid-container {
        padding-top: 50px;
      }
    }
    .plate {
      z-index: 1;
      margin-top: 100px;
    }
    .plate_contact-form+.dialog {
      display: block;
      position: relative;
    }
    .section_menu-carousel {
      .owl-carousel .owl-stage .owl-item {
        & .card-bordered {
          min-height: 350px;
          .user-editable-content {
            position: relative;
            color: gray;
            top: 80px;
          }
        }
        .card-bordered>div {
          display: block;
          margin: 20px 0;
        }
      }
    }
    .timeline-item {
      &_type-1 {
        z-index: auto;
        .emblem {
          z-index: auto;
        }
      }
    }
  }
  .card, .card.hover {
    height: auto;
    .card__text {
      padding-top: 30px;
      transform: none;
      > .user-editable-content {
        max-height: none;
        display: block;
      }
    }
  }
  .dialog {
    display: block !important;
    clip-path: none;
    .plate__white {
      background: none;
      &, a {
        color: $c-text;
      }
    }
  }
  .plate_fixed {
    position: static;
    height: auto;
    background: none;
    display: block;
  }
  [class*='o-'] {
    opacity: 1;
  }
  .toggleable-layers__layers {
    display: block;
    > * {
      pointer-events: auto !important;
      opacity: 1 !important;
    }
  }
  .card, .card.hover {
    height: auto;
    .card__text {
      padding-top: 30px;
      transform: none;
      > .user-editable-content {
        max-height: none;
        display: block;
      }
    }
  }
}