.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  line-height: 1em;
  margin-left: -20px;
  margin-top: -20px;
  &, & a {
    color: transparentize($c-white, .84);
  }
  a {
    display: block;
    min-width: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
  }
}