.social {
  &-list {
    display: flex;
    align-items: center;
    a {
      display: block;
      width: 100px;
      text-align: center;
      font-family: $f-oswald;
      font-weight: 400;
      font-size: 10px;
      color: $c-light;
      text-transform: uppercase;
      &:hover {
        color: $c-brand;
      }
    }
  }
  &-box {
    @include pos('topLeft', 245px, 15px);
    @include if-smaller-than(s) {
      top: 0;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: $c-light;
      @include if-smaller-than(s) {
        display: inline-flex;
      }
      &:not(:first-child) {
        margin-top: 20px;
      }
      [class*='twitter'] {
        font-size: 10px;
      }
      [class*='facebook'] {
        font-size: 12px;
      }
      [class*='google'] {
        font-size: 8px;
      }
      &:hover {
        color: $c-brand;
      }
    }
  }
}