extends ../contact

block append column_left
    p Le Bar
    p Rue Adhémar-Fabri 8-10,
    p 1201 Geneva, Switzerland

block column_center
    .user-editable-content.user-editable-content_no-p-margins
        h3 Opening hours
        p Monday to Sunday:
        p 10:30am - 1am
        p Bar menu available at the lounge all day long.

block column_right
    h3 Le Bar Contact
    p
        a(href='mailto:info.bar@lerichemond.com') info.bar@lerichemond.com
    p
        a(href='tel:+410227157201') +41 (0)22 715 7201