section.section.section_intro
    .grid-container
        .grid-x
            .medium-8.medium-offset-2.cell
                .content-pattern
                    .text-center
                        .emblem.emblem_small.emblem_white.emblem_collapsed
                            i.icon-emblem-richemond
                    .content-pattern__decor
                        img(src=require('../../../images/icons/decor-cocktail.svg') alt)
                    .content-pattern__top
                        .user-editable-content
                            h4 Cocktail signature
                            h2 Creative cocktail concoctions
                    .line-x
        .user-editable-content.user-editable-content_two-columns.user-editable-content_no-p-margins.user-editable-content_links-are-red
                p At Le Bar, guests may choose from a menu of light meals, snacks and bar bites accompanied by
                    a(href='#slider-section')  creative cocktail concoctions
                    |. In the evening, Le Bar is transformed into a vibrant and atmospheric place.
                p It is the perfect spot to enjoy an immaculately presented cocktail and select from an extensive champagne, martini and wine list. Throughout the year, Le Bar presents a series of special events to be discovered in our calendar.

