section.section.section_intro
    .grid-container
        .grid-x
            .medium-8.medium-offset-2.cell
                .content-pattern
                    .text-center
                        .emblem.emblem_small.emblem_white.emblem_collapsed
                            i.icon-emblem-richemond
                    .content-pattern__decor
                        img(src=require('../../../images/icons/decor-map.svg') alt)
                    .content-pattern__top
                        .user-editable-content
                            h4 Location
                            h2 How to find us
                    .line-x
                .user-editable-content.user-editable-content_no-p-margins.user-editable-content_links-are-red
                    p Le Richemond is located in the heart of the Geneva business district, north of the River Rhône, close to Lake Geneva (Lac Léman) and overlooking Brunswick Gardens.
                .mt-40.toggleable-layers
                    .toggleable-layers__toggles.tabs-toggles.tabs-toggles_grow
                        ul
                            li
                                .entry-with-icon
                                    .entry-with-icon__image
                                        i.icon-train
                                    .entry-with-icon__text
                                        by Train
                            li
                                .entry-with-icon
                                    .entry-with-icon__image
                                        i.icon-plane
                                    .entry-with-icon__text
                                        by Air
                            li
                                .entry-with-icon
                                    .entry-with-icon__image
                                        i.icon-car
                                    .entry-with-icon__text
                                        by Car
                    .toggleable-layers__layers.mt-40.align-stretch
                        .user-editable-content
                            p
                                b By train
                                |  – First of all, get off the train.
                        .user-editable-content
                            p
                                b By air
                                |  – First of all, land in Geneva airport.
                        .user-editable-content
                            p
                                b By car
                                |  – Follow signs in the direction of central Geneva on Louis Casai Avenue, which turns into Servette Street and finally Chantepoulet Street. At the end of Chantepoulet, please turn left on to Dorciére Place, at which point you will see Le Richemond in front of you.

