extends ../highlights

block title
    h2 Hotel highlights

block content
    ul
        li 24-hour concierge
        li Limousine, valet parking and chauffeur service
        li Porter service
        li Currency exchange
        li Multilingual staff
        li 24-hour in-room dining
        li Laundry and dry-cleaning
        li Complimentary packing and unpacking
        li Complimentary Wi-Fi internet access available throughout the hotel
        li Express check-in and check-out available
        li Local and international newspapers
        li Fitness open daily from 7am to 10pm
        li Le Spa by Sisley
        li Personal trainer upon request
        li Butler service upon request
        li Le Jardin Restaurant
        li Le Bar