extends ../highlights

block title
    h2 Hotel highlights

block content
    ul
        li Round trip airport transfers
        li Bottle of Krug champagne
        li Complimentary high-speed Wi-Fi
        li One bedroom, one bathroom and a restroom
        li LCD TV
        li Beltrami linen
        li Toiletries by L'Occitane en Provence
        li DVD player and iPod docking station
        li Writing desk with business-ready corner
        li Evening canapés

block append layer
    .mt-55.flex-container.align-center
        a(href='').button.button_transparent Make a Reservation