extends ../plate

block block_content
    .pt-55.pb-40
        .line-y.line-y_stick-topleft
        .flex-container.align-justify.align-middle.mb-25
            .user-editable-content
                h4 Rooms & Suites
            .social.o-80
                a(href='').icon-facebook
                a(href='').icon-twitter
                a(href='').icon-googleplus
        .user-editable-content
            h2 Royal Armleder Suite
        .mt-35.flex-container.align-justify.align-middle
            .nutshell
                ul
                    li From
                        span.black  CHF 11,215
                            sup *
                    li Square
                        span.black  30m
                            sup 2
                            |  / 320ft
                            sup 2
            a(href='').button.button_light Make a reservation
